* {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
}
body {
    line-height: calc(18/16);
    color: #fff;
    background: #869f91;
    position: relative;
}
a {
    color: #fff;
}
.container {
    min-width: 900px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.slider, .promo, .catalog, .info-wrapper, .banner {
    width: 100%;
    margin: 40px 0;
}
.promo-block, .news, .form, .advantage-item {
    width: 48%;
}
.social, .footer-menu, .copyright {
    width: 33.333333%;
}
.catalog-item, .social-btn-link, .footer-menu-item {
    width: 25%;
}
.info-wrapper {
    color: #323232;
    padding: 30px 20px;
    background: url("./img/vaflya-back.jpg");
}
.advantages-wrapper {
    padding: 0;
    list-style: none;
    display: inline-block;
}
.advantage-item {
    float: left;
}
.promo-block, .info-wrapper, .news, .form, .feedback {
    border-radius: 20px;
}
.promo div, .news {
    padding: 20px;
}
.promo-block:first-child {
    background: url("./img/promo-back1.png") no-repeat;
}
.promo-block:last-child {
    background: url("./img/promo-back2.png") no-repeat;
}
.news {
    background: url("./img/news-back.png") no-repeat;
}
.dropdown-menu, .search-form, .slider-item {
    display: none;
}
.slider-item:first-child {
    display: block;
    background: url("./img/slider-item1.png") no-repeat;
}
.right-menu {
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    text-align: right;
}
.info {
    text-align: right;
}
.left-menu a:first-child {
    padding: 9px 0 0 0;
}
.left-menu a {
    display: inline-block;
    padding: 30px 27px;
    color: #fff;
    cursor: pointer;
}
.modal-group button {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: #b8d1c3, transparent;
    margin: 30px 10px;
    color: #fff;
}